.naan{
    color: brown;
}

p{
    color: pink;
}
.blog{
    color: goldenrod;
}

body{
    background-color: pink;

}


img{
    border: 12px blanchedalmond solid;
    border-radius: 30px;

}